body{
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 450px;
}
#input-el{
  border: 1px solid rgb(8, 154, 8);
  width: 99%;
  margin: 6px;
  padding: 10px;
  box-sizing: border-box;
  width: 440px;
  
}
#input-btn{
  color: white;
  background-color: rgb(8, 154, 8);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid darkgreen;
  font-weight: bold;
}
#tab-btn{
  color: white;
  background-color: goldenrod;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-left: 29px;
  cursor: pointer;
  border: 1px solid goldenrod;
  font-weight: bold;
  width: 120px;
}
#delete-btn{
  color:white;
  background-color: rgb(204, 2, 2) ;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-left: 29px;
  cursor: pointer;
  border: 1px solid rgb(204, 2, 2);
  font-weight: bold;
}
ul{
    list-style-type: none;
    margin-top: 20px;
    padding-inline-start: 5px;
}
li{
  margin-top: 5px;
}
li a{
  /* a tags only inside the li item */
  color: rgb(8, 154, 8);
}